<h2>Invoices</h2>
<div  ng-controller="InvoicesController">

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <!--            <th>Book name</th>-->
            <th>Amount</th>
            <th>Quantity Sold</th>
            <th>Created</th>
            <th>Updated</th>
            <th><button id="btn-add" class="btn btn-primary btn-xs" ng-click="toggle('add', 0)">
                Purchase Book
            </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in invoices">
            <td>{{ invoice.id }}</td>
            <!--            <td>{{ invoice.title }}</td>-->
            <td>{{ invoice.amount }}</td>
            <td>{{ invoice.quantity }}</td>
            <td>{{ invoice.created_at }}</td>
            <td>{{ invoice.updated_at }}</td>
        </tr>
        </tbody>
    </table>
    <!-- Modal (Pop up when detail button clicked) -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{form_title}}</h4>
                </div>
                <div class="modal-body">
                    <form name="frmInvoices" class="form-horizontal" novalidate="">

                        <div class="form-group">
                            <label for="book_id" class="col-sm-3 control-label">Select book</label>
                            <div class="col-sm-9">
                                <select name="book_id" id="book_id" ng-model="invoice.book_id" ng-required="true">
                                    <option value="">---Please select---</option>
                                    <option ng-repeat="book in books" value="{{ book.id }}">
                                        {{ book.title }}
                                    </option>
                                </select>

                                <span class="help-inline"
                                      ng-show="frmInvoices.book_id.$invalid && frmInvoices.book_id.$touched
                                       && frmInvoices.book_id.$dirty">
                                    Book is required
                                </span>
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="qty" class="col-sm-3 control-label">Book Quantity</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control has-error" id="qty" name="qty"
                                       ng-pattern="onlyNumbers"
                                       placeholder="Quantity" value="{{qty}}"
                                       ng-model="invoice.qty" ng-required="true">
                                        <span class="help-inline"
                                              ng-show="frmInvoices.qty.$invalid && frmInvoices.qty.$touched">
                                            Quantity field is required
                                        </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-save" ng-click="save(modalstate, id)"
                            ng-disabled="frmInvoices.$invalid">
                        Purchase book
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
